.banner {
  background-size: cover;
  height: fit-content;
}

.banner-content {
  padding: 10vw 10vw;
}

.banner-content h1 {
  color: white;
  margin-top: 0px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.banner-content h2 {
  color: #e6e6e6;
  font-weight: lighter;
  font-size: clamp(3vmax, 1em, 3em);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  max-width: 60vw;
}
